src/main/mule/cicd_githubactions.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="91d6ec4e-bf2e-4c2c-99a1-cd9999cd7bc1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd_githubactionsFlow" doc:id="739fb1a0-32d2-48b1-b25d-e3919f247224" >
		<http:listener doc:name="Listener" doc:id="94899e80-60dd-4190-8583-24dc1572fffd" config-ref="HTTP_Listener_config" path="/hello"/>
		<logger level="INFO" doc:name="Logger" doc:id="3e841a7e-cbf9-433e-9aee-d56c5c336d1b" message="#[payload]"/>
	</flow>
</mule>
